@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
@import url("style.css");
body {
  padding-top: 6rem;
  background: none;
}

h2, h3 {
  padding: 0.5rem 0 0;
  font-size: 3rem;
  color: #444;
}

p, label, .cart {
  padding: 0.5rem;
  font-size: 1.6rem;
  color: #444;
  line-height: 1.5;
  padding: 1rem 0;
}

.products, .cart {
  padding-top: 1rem;
}

.products-container {
  width: 100%;
  padding: 2rem;
}
.products-container .products div {
  background: rgba(238, 238, 238, 0.7);
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 0.5em;
  width: 245px;
  display: block;
}
.products-container .products img {
  max-width: 200px;
  height: auto;
}
.products-container .products h3 {
  font-weight: bold;
}
.products-container .products p {
  padding: 0.5rem 0;
}
.products-container .cart-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.products-container .cart-title .empty-btn {
  border: 0;
  border-radius: 0.5em;
  padding: 0.8rem;
  background-color: #666;
  font-size: 1.3rem;
}
.products-container .cart-title .empty-btn:hover {
  background-color: #eee;
  color: #ed2d34;
}
.products-container .cart {
  margin: 0 auto;
}
.products-container .cart div {
  border-radius: 0.5em;
  background: rgba(238, 238, 238, 0.8);
  margin: 1rem auto;
  padding: 1rem 0 2rem 1.5rem;
  width: 260px;
}
.products-container .cart p {
  padding: 0.3rem;
}

.checkout-container {
  padding: 2rem;
  background: #eee;
}
.checkout-container .checkout-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkout-container .checkout-title .currency-selector {
  padding-top: 0.4rem;
}
.checkout-container .checkout {
  padding-bottom: 3rem;
}
.checkout-container .checkout .btn, .checkout-container .checkout input {
  display: block;
}
.checkout-container .pay-summary h3 {
  padding-top: 1rem;
}
.checkout-container .pay-summary p {
  padding: 0.5rem 0;
}
.checkout-container .received {
  padding: 0.3em;
  border: 1px solid #666;
  border-radius: 0.5em;
  vertical-align: middle;
}

.footer {
  margin-top: 0;
}

@media screen and (min-width: 375px) {
  .checkout-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 9%;
  }
  .checkout-container .checkout-title {
    gap: 6rem;
  }
  .checkout-container .pay-summary div.balance {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 568px) {
  .shopping-cart {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero1.jpg);
    background-position-x: center;
  }
  .products-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
  }
  .products-container .products {
    width: 240px;
  }
  .products-container h2, .products-container .cart {
    color: #fff;
  }
  .checkout-container {
    background: rgba(238, 238, 238, 0.93);
  }
  .footer {
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) {
  .products-container {
    display: block;
    width: 768px;
  }
  .products-container .right-side {
    height: 375px;
  }
  .products-container .products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    gap: 0.7rem;
    max-width: 55rem;
  }
  .products-container .products h3 {
    font-size: 2.5rem;
    color: #444;
  }
  .products-container .cart {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    gap: 0.7rem;
  }
  .products-container .cart div {
    width: 230px;
    margin: 0;
  }
  .products-container .cart h3 {
    font-size: 2.5rem;
    color: #444;
  }
  .checkout-container {
    background: rgba(238, 238, 238, 0.9);
    gap: 0;
  }
  .checkout-container .pay-summary {
    display: flex;
  }
  .checkout-container .pay-summary div {
    padding-right: 3rem;
  }
  .checkout-container .pay-summary .balance {
    padding-top: 5.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .shopping-cart {
    background-position-y: 55%;
  }
  .cart-container {
    display: flex;
  }
  .cart-container .checkout-container {
    background: rgba(238, 238, 238, 0.7);
    position: absolute;
    right: 0;
    height: 73rem;
    display: flex;
    flex-direction: column;
    max-width: 314px;
  }
  .cart-container .checkout-container .pay-summary div {
    padding-left: 0;
  }
  .cart-container .checkout-container .pay-summary div.balance {
    padding-top: 0;
  }
}/*# sourceMappingURL=cart.css.map */