@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
@import url("style.css");
body {
  padding-top: 6em;
  background: none;
}

h2, h3 {
  padding: 0.5em 0 0;
  font-size: 3rem;
  color: #444;
}

p, label, .cart {
  padding: 0.5em;
  font-size: 1.6rem;
  color: #444;
  line-height: 1.5;
  padding: 1em 0;
}

.products-container {
  width: 100%;
  padding: 2em;
}
.products-container .cart-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.products-container .right-side .btn {
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: #666;
}
.products-container .right-side .btn:hover {
  background-color: #eee;
  color: #ed2d34;
}
.products-container .right-side .btn.empty-btn {
  margin-top: 1.3em;
  font-size: 1.3rem;
}

.checkout-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2em;
  background: #eee;
}
.checkout-container .pay-summary div:not(balance) {
  padding-left: 3em;
}
.checkout-container .pay-summary div:not(balance).balance {
  padding-top: 5.4em;
}

.products, .cart {
  padding-top: 1em;
}

.products div {
  background: rgba(238, 238, 238, 0.7);
  margin: 1em auto;
  padding: 2em;
  border-radius: 0.5em;
  width: 245px;
  display: block;
}
.products img {
  max-width: 200px;
  height: auto;
}
.products h3 {
  font-weight: bold;
}
.products p {
  padding: 0.5em 0;
}

.cart {
  margin: 0 auto;
}
.cart div {
  border-radius: 0.5em;
  background: rgba(238, 238, 238, 0.8);
  margin: 1em auto;
  padding: 1em 0 2em 1.5em;
  width: 260px;
}
.cart p {
  padding: 0.3em;
}

.checkout {
  margin-bottom: 4em;
}
.checkout .btn, .checkout input {
  display: block;
}

.pay-summary h3 {
  padding-top: 1em;
}
.pay-summary p {
  padding: 0.5em 0;
}

.received {
  padding: 0.3em;
  border: 1px solid #666;
  border-radius: 0.5em;
  vertical-align: middle;
}

.footer {
  margin-top: 0;
}

@media (min-width: 560px) {
  .shopping-cart {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/hero1.jpg);
    background-position-x: center;
  }
  .products {
    width: 240px;
  }
  .products-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
  }
  .products-container h2, .products-container .cart {
    color: #fff;
  }
  .checkout-container {
    background: rgba(238, 238, 238, 0.93);
  }
  .checkout-container .left-side {
    width: 270px;
  }
  .checkout-container .right-side h3 {
    padding-top: 0.5em;
  }
  .footer {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .products-container {
    display: block;
    width: 768px;
  }
  .products-container .right-side {
    height: 375px;
  }
  .products {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    gap: 0.7em;
    max-width: 55em;
  }
  .products h3 {
    font-size: 2.5rem;
    color: #444;
  }
  .cart {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    gap: 0.7em;
  }
  .cart div {
    width: 230px;
    margin: 0;
  }
  .cart h3 {
    font-size: 2.5rem;
    color: #444;
  }
  .checkout-container {
    background: rgba(238, 238, 238, 0.9);
  }
  .checkout-container .pay-summary {
    display: flex;
  }
  .checkout-container .pay-summary div {
    padding-right: 3em;
  }
  .checkout-container .pay-summary .balance {
    padding-top: 5.4em;
  }
}
@media (min-width: 1200px) {
  .shopping-cart {
    background-position-y: 55%;
  }
  .cart-container {
    display: flex;
  }
  .cart-container .checkout-container {
    background: rgba(238, 238, 238, 0.7);
    position: absolute;
    right: 0;
    height: 76.6em;
    display: flex;
    flex-direction: column;
  }
  .cart-container .checkout-container .pay-summary div {
    padding-left: 0;
  }
  .cart-container .checkout-container .pay-summary div.balance {
    padding-top: 0;
  }
}/*# sourceMappingURL=cart.css.map */