@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('style.css');

$red: #ed2d34;
$black: #444;
$white: #fff;
$off-white: #eee;
$light-color: #666;
$border: .2em solid $black;
$border-radius: .5em;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}
 
@mixin flex($align) {
    display: flex;
    align-items: $align;
    flex-wrap: wrap;
}
 
@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: $white;
}
 
@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: $white;
    line-height: 1.5;
    padding: 1rem 0;
}

body {
    background: none;
}

.contact {
   background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero2.jpg);
   background-size: cover;
   padding-top: 12rem;

    .contact-container {
        h1 {
            color: $white;
            text-align: left;
            padding-left: 0;
        }
    
        .row {
            @include flex(center);
            flex-direction: column-reverse;
            gap: 3rem;
    
            form {
                flex: 1 1 38rem;
    
                .box {
                    padding: 1rem 0;
                    margin-bottom: 1rem;
                    font-size: 1.6rem;
                    border-radius: .3em;
                    border-bottom: $border;
                    width: 100%;
    
                    &:focus {
                        border-color: $red;
                    }
    
                    &::placeholder {
                        padding-left: .5em;
                    }
                }
    
                textarea {
                    height: 10rem;
                    resize: none;
                }
            }
    
            .contact-info {
                flex: 1 1 38rem;
    
                h3 {
                    @include titleText(3rem);
                }
    
                .para {
                    @include graphText(1.4rem);
                }

                .icons {
                    @include flex(center);
                    padding: 1.5rem 0;
                    gap: 1.5rem;
    
                    i {
                        height: 5rem;
                        width: 5rem;
                        line-height: 2.5;
                        border-radius: 50%;
                        font-size: 2rem;
                        background: $red;
                        color: $white;
                        text-align: center;
                    }
    
                    p {
                        @include graphText(1.5rem);
                        padding: 0;
                    }
                }
    
                .share {
                    padding-top: 2rem;
                    display: flex;
    
                    a {
                        font-size: 3rem;
                        margin-right: 1.5rem;
                        color: $white;
    
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    
        iframe {
            display: none;
        }
    }
}

.footer {
    margin-top: 0;
    border-radius: 0;
}

@media screen and (min-width: 568px) {
    .contact-info {
        position: relative;
    }
    
    .wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .contact-container .row form {
        padding-top: 5rem;
    }

    .contact-info, form {
        max-width: 568px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .contact .contact-container {
        .row {
            @include grid(50%);
            grid-template-areas: 
            "form info";
            width: 620px;
            margin: 0 auto;
            gap: 3rem;

            .contact-info {
                grid-area: info;
                display: block;
                position: static;
            }

            .wrapper {
                position: static;
                left: auto;
                transform: none;
            }

            form {
                padding-top: 0;
            }
        }

        iframe {
            display: block;
            margin: 0 auto;
            margin-top: 4rem;
            border-radius: $border-radius;

        }
    }
}

@media (min-width: 1200px){
    .contact {
        padding: 4rem 5%;
        padding-top: 12rem;

        .contact-container {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-areas: 
            "row map";
            gap: 4rem;
    
            .row {
                grid-area: row;
                width: auto;
                gap: 4rem;

                .contact-info {
                    width: 320px;
                }
            }
    
            iframe {
                grid-area: map;
                width: 450px;
            }
        }
    } 
}