@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
@import url("style.css");
body {
  background: none;
}

.contact {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero2.jpg);
  background-size: cover;
  padding-top: 12rem;
}
.contact .contact-container h1 {
  color: #fff;
  text-align: left;
  padding-left: 0;
}
.contact .contact-container .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  gap: 3rem;
}
.contact .contact-container .row form {
  flex: 1 1 38rem;
}
.contact .contact-container .row form .box {
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  border-radius: 0.3em;
  border-bottom: 0.2em solid #444;
  width: 100%;
}
.contact .contact-container .row form .box:focus {
  border-color: #ed2d34;
}
.contact .contact-container .row form .box::-moz-placeholder {
  padding-left: 0.5em;
}
.contact .contact-container .row form .box::placeholder {
  padding-left: 0.5em;
}
.contact .contact-container .row form textarea {
  height: 10rem;
  resize: none;
}
.contact .contact-container .row .contact-info {
  flex: 1 1 38rem;
}
.contact .contact-container .row .contact-info h3 {
  font-size: 3rem;
  color: #fff;
}
.contact .contact-container .row .contact-info .para {
  font-size: 1.4rem;
  color: #fff;
  line-height: 1.5;
  padding: 1rem 0;
}
.contact .contact-container .row .contact-info .icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  gap: 1.5rem;
}
.contact .contact-container .row .contact-info .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 2.5;
  border-radius: 50%;
  font-size: 2rem;
  background: #ed2d34;
  color: #fff;
  text-align: center;
}
.contact .contact-container .row .contact-info .icons p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.5;
  padding: 1rem 0;
  padding: 0;
}
.contact .contact-container .row .contact-info .share {
  padding-top: 2rem;
  display: flex;
}
.contact .contact-container .row .contact-info .share a {
  font-size: 3rem;
  margin-right: 1.5rem;
  color: #fff;
}
.contact .contact-container .row .contact-info .share a:hover {
  color: #ed2d34;
}
.contact .contact-container iframe {
  display: none;
}

.footer {
  margin-top: 0;
  border-radius: 0;
}

@media screen and (min-width: 568px) {
  .contact-info {
    position: relative;
  }
  .wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact-container .row form {
    padding-top: 5rem;
  }
  .contact-info, form {
    max-width: 568px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .contact .contact-container .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    gap: 2rem;
    grid-template-areas: "form info";
    width: 620px;
    margin: 0 auto;
    gap: 3rem;
  }
  .contact .contact-container .row .contact-info {
    grid-area: info;
    display: block;
    position: static;
  }
  .contact .contact-container .row .wrapper {
    position: static;
    left: auto;
    transform: none;
  }
  .contact .contact-container .row form {
    padding-top: 0;
  }
  .contact .contact-container iframe {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 0.5em;
  }
}
@media (min-width: 1200px) {
  .contact {
    padding: 4rem 5%;
    padding-top: 12rem;
  }
  .contact .contact-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "row map";
    gap: 4rem;
  }
  .contact .contact-container .row {
    grid-area: row;
    width: auto;
    gap: 4rem;
  }
  .contact .contact-container .row .contact-info {
    width: 320px;
  }
  .contact .contact-container iframe {
    grid-area: map;
    width: 450px;
  }
}/*# sourceMappingURL=contact.css.map */