@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('style.css');

$red: #ed2d34;
$black: #444;
$white: #fff;
$off-white: #eee;
$light-color: #666;
$border: .2em solid $black;
$border-radius: .5em;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2em;
}
 
@mixin flex($align) {
    display: flex;
    align-items: $align;
    flex-wrap: wrap;
    gap: 3em;
}
 
@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: $white;
}
 
@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: $white;
    line-height: 1.5;
    padding: 1em 0;
}

body {
    background: none;
}

.contact {
   background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero2.jpg);
   background-size: cover;
   padding-top: 12em;

    .contact-container {
        h1 {
            color: $white;
            text-align: left;
            padding-left: 0;
        }
    
        .row {
            @include flex(center);
            flex-direction: column-reverse;
    
            form {
                flex: 1 1 38em;
    
                .box {
                    padding: 1em 0;
                    margin-bottom: 1em;
                    font-size: 1.6rem;
                    border-radius: .3em;
                    border-bottom: $border;
                    width: 100%;
    
                    &:focus {
                        border-color: $red;
                    }
    
                    &::placeholder {
                        padding-left: .5em;
                    }
                }
    
                textarea {
                    height: 10em;
                    resize: none;
                }
            }
    
            .contact-info {
                flex: 1 1 38em;
    
                h3 {
                    @include titleText(3rem);
                }
    
                .pgh {
                    @include graphText(1.4rem);
                }
    
                .icons {
                    padding: 1.5em 0;
                    display: flex;
                    align-items: center;
                    gap: 1.5em;
    
                    i {
                        height: 3em;
                        width: 3em;
                        line-height: 3em;
                        border-radius: 50%;
                        font-size: 2rem;
                        background: $red;
                        color: $white;
                        text-align: center;
                    }
    
                    p {
                        @include graphText(1.5rem);
                        padding: 0;
                    }
                }
    
                .share {
                    padding-top: 2em;
                    display: flex;
    
                    a {
                        font-size: 3rem;
                        margin-right: 1em;
                        color: $light-color;
    
                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    
        iframe {
            display: none;
        }
    }
}

.footer {
    margin-top: 0;
    border-radius: 0;
}

@media (min-width: 768px){
    .contact .contact-container {
        .row {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-areas: 
            "form info";
            width: 600px;
            margin: 0 auto;

            .contact-info {
                grid-area: info;
                display: block;
            }
        } 

        iframe {
            display: block;
            margin: 0 auto;
            margin-top: 4em;
            border-radius: $border-radius;

        }
    }
}

@media (min-width: 1024px){
    body {
        background: none;
    }
}

@media (min-width: 1440px){
    .contact {
        padding: 4em 5%;
        padding-top: 12em;

        .contact-container {
            display: grid;
            grid-template-columns: 50% 40%;
            grid-template-areas: 
            "row map";
            gap: 4em;
    
            .row {
                grid-area: row;
                width: auto;

                .contact-info {
                    width: 320px;
                }
            }
    
            iframe {
                grid-area: map;
            }
        }
    } 
}